body{
    background-color: var(--background-color);
}
.container{
    background: url(../images/bg-desktop.svg) center center no-repeat;
    height: 100vh;
    padding: 30px 60px;
}

.header img{
    width: 150px;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}
.menu-illustration{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.menu-illustration img{
    width: 100%;
}

.about{
    color: white;
    align-content: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.about h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 15px;
}

.about p{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.about a{
    color:hsl(228, 45%, 44%) ;
    background-color: white;
    font-size: 18px;
    padding: 10px 50px;
    border-radius: 50px;
    box-shadow: 3px 2px 3px black;
    transition: 0.2s ease-in-out;
}

.about a:hover{
    color: white;
    background-color: var(--color-btn);
}

.footer .redes-sociais{
    display: flex;
    justify-content: flex-end;
}

.footer .redes-sociais a{
    padding: 7px 12px;
    font-size: 15px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    margin: 5px;
    transition: 0.2s ease-in-out;
}

.footer .redes-sociais a:hover{
    color: var(--color-btn);
    border-color: var(--color-btn);
}

@media(max-width:1090px){
    .about{
        padding: 70px 20px;
    }
    .about h3{
        font-size: 25px;
        
    }
    .about p{
        font-size: 12px;
        margin-bottom: 30px;
    }
    .about a{
        font-size: 12px;
        padding: 10px 40px;
}
}
@media(max-width:430px){
    .container{
        background: url(../images/bg-mobile.svg) center center no-repeat;
        padding: 30px 40px;
        align-content: center;

    }
    .content{
        display: grid;
        grid-template-columns: 1fr;
    }
    .menu-illustration{
        display: block;
    
    }
    .about{
        text-align: center;
        padding: 40px 20px;
    }
    .about h3{
        font-size: 20px;
        
    }
    .about p{
        margin-bottom: 50px;
        text-align: justify;
    }
    .about a{
        font-size: 18px;
        padding: 10px 100px;
    }

    .footer .redes-sociais{
        justify-content: center;
        padding: 60px;
    }
}